.reader_one {
    display: flex;
}

.reader_one > div:first-child {
    width: 700px;
}

.iss {
    background-color: #FBAE42;
    border: 3px solid #d8831b;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    padding: 0;
    margin-top: 66px;
}

.iss:hover {
    background-color: #d8831b;
}

.iss > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #d8831b;
    font-size: 32px;
    margin-top: 0;
}

.info_reader {
    width: 600px;
    border-radius: 15px;
    border: 3px solid #d8831b;
    background-color: #FBAE42;
    display: flex;
    padding: 20px;
    gap: 40px;
}

.info_reader > div > p {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.info_reader > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h3 {
    font-size: 20px;
    color: #d8831b;
    margin: 20px 0;
    width: 600px;
    text-align: center;
}

.book > img {
    width: 80px;
    height: 110px;
}

.book {
    background-color: #FBAE42;
    border: 3px solid #d8831b;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    width: 600px;
    margin-bottom: 20px;
}

.book > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 150px;
}

.book > div:last-child > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.book > div > p {
    color: white;
    font-size: 14px;
}

.book > div > p:first-child {
    font-size: 20px;
}

.book > div:last-child > div > p {
    color: white;
    font-size: 14px;
}

.return {
    background-color: #FDC579;
    border-radius: 15px;
    border: 3px solid #d8831b;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return > a {
    text-decoration: none;
    text-align: center;
    color: #d8831b;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return:hover {
    cursor: pointer;
    background-color: #d8831b;
}
.return > a:hover {
    color: white;
}